body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:42px;
  top:136px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  opacity:0.8;
  font-size:10px;
  color:#000000;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  opacity:0.8;
  font-size:10px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:13px;
  top:210px;
  width:257px;
  height:73px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:73px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:12px;
  top:223px;
  width:9px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:52px;
}
#u8 {
  position:absolute;
  left:2px;
  top:18px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:23px;
  top:218px;
  width:242px;
  height:57px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:4px;
  top:0px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:12px;
  top:10px;
  width:258px;
  height:179px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:179px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:176px;
  font-size:16px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:176px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:254px;
  word-wrap:break-word;
}
#u11_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:179px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:176px;
  font-size:16px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:176px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:254px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:5px;
  top:510px;
  width:265px;
  height:60px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:31px;
  width:220px;
  height:25px;
  color:#000000;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:216px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:4px;
  top:7px;
  width:70px;
  height:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:100px;
  top:4px;
  width:160px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:0px;
  top:37px;
  width:15px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:13px;
  top:195px;
  width:84px;
  height:11px;
  font-family:'Times-Roman', 'Times';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:11px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:276px;
  top:9px;
  width:434px;
  height:274px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:274px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}


/* I added this for responsivity */

@media screen and (max-width: 710px) {
	 #u27 {  left: 0px; top: 292px; }
}
